
%header.image-bg-fluid-height
  %img.img-responsive.img-center{:alt => "", :src => "http://www.brandcrowd.com/gallery/brands/pictures/picture12659328261654.jpg"}
/ Content Section
%section
  .container
    .row
      .col-lg-12
        %h1.section-heading Nega jakkusaengakna
        %p.lead.section-lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %p.section-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
/ Fixed Height Image Aside
/ Image backgrounds are set within the full-width-pics.css file.
%aside.image-bg-fixed-height
/ Content Section
%section
  .container
    .row
      .col-lg-12
        %h1.section-heading Section Heading
        %p.lead.section-lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %p.section-paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
    / /.row
  / /.container
/ Footer
%footer
  .container
    .row
      .col-lg-12
        %p Copyright © Appalachian Health 2014
    / /.row
  / /.container
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}