%section.module.parallax.parallax-1
  .container
    %h1 Health
%section.module.content
  .container
    %h2 Appalachian Health
    %p All of your health needs and benefits fitted into one site
%section.module.parallax.parallax-2
  .container
    %h1 Benefits
%section.module.content
  .container
    %h2 What are the benefits of Appalachian Health?
    %p Here goes the fuggin benefits
%section.module.parallax.parallax-3
  .container
    %h1 똥구멍
%section.module.content
  .container
    %h2 이리와봐
    %p 연정아 사랑해
%footer
  .container
    .row
      .col-lg-12
        %p Copyright © Appalachian Health 2014
    / /.row
  / /.container
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}