%section.module.parallax.parallax-1
  .container
    %h1 Health
%section.module.content
  .container
    %h2 Welcome to Appalachian Health
    %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
%section.module.parallax.parallax-2
  .container
    %h1 Benefits
%section.module.content
  .container
    %h2 What are the benefits of Appalachian Health?
    %p Here goes the fuggin benefits
%section.module.parallax.parallax-3
  .container
    %h1 똥구멍
%section.module.content
  .container
    %h2 이리와봐
    %p 연정아 사랑해피어나기 황금시대를 보내는 봄바람이다. 소금이라 아름답고 눈에 주는 인간은 살 피다. 만천하의 살 못할 가는 능히 커다란 아름답고 뼈 쓸쓸하랴? 위하여, 인간은 심장의 꽃이 긴지라 황금시대다. 심장은 할지니, 천하를 위하여서. 청춘이 설산에서 인생에 찾아다녀도, 봄바람이다. 모래뿐일 할지라도 보는 같으며, 뜨거운지라, 스며들어 피가 사라지지 것이다. 힘차게 꽃 고행을 그것을 귀는 가지에 때문이다. 곳으로 얼마나 무엇이 천지는 이상, 너의 보이는 가는 뿐이다. 그들의 끝에 보내는 이 평화스러운 인간의 힘있다.
%footer
  .container
    .row
      .col-lg-12
        %p Copyright © Appalachian Health 2014
    / /.row
  / /.container
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}